[2018-05-30 01:31] XtremeTheory opened #1 "Target or URI doesn't exist for the package"
Error trying to retrieve the package.  Any ideas?

[2018-05-31 18:58] bhrott commented on #1
To let me analyse, send:
* The error stack trace, not only title.
* Your `pubspec.yaml` dependencies section to let me review you install it's correctly.

I tried to create a new app and follow the installation guide. It works to me.

[2018-06-03 19:39] bhrott commented on #1
Hi, i'm closing this.
If the issue persist, please, reopen.

[2018-06-03 19:39] #1 closed

[2018-06-11 18:36] tobire opened #2 "Add currency symbol to MoneyMaskedTextController"
It would be awesome to have a currency symbol (like € or $) automatically inserted after a money input using the MoneyMaskedTextController.

Hope you can implement this,
thanks for the great plugin!

[2018-06-11 19:10] tobire opened #3 "Disable minus symbol on MoneyMaskedTextController"
When using the MoneyMaskedTextController with the number keyboard (keyboardType: TextInputType.number) it is possible to enter minus symbols which get appended to the number.

From my point of view, that should not be the case for a money input.

[2018-06-11 19:12] tobire commented on #3
Also, after a minus is entered, the following numbers get written after that minus.
However, this will probably fixed automatically, if there is no way to enter a minus.

[2018-06-11 22:26] bhrott commented on #2
Hi,

I will work on this =).

Tks!

[2018-06-12 00:32] bhrott commented on #3
Fixed at `0.4.1`.

Thanks for reporting.

[2018-06-12 00:32] #3 closed

[2018-06-17 17:20] bhrott commented on #2
Done!

Now it's available in `0.5.0`.

[2018-06-17 17:20] #2 closed

[2018-08-06 21:19] codegrue opened #7 "incorrect value from MoneyMaskedTextController"
The .numberValue property (and .text for that matter) are giving me a value with the decimal in the wrong place (different from how it looks in my TextField).

Code used:

[code]

 change value via TextField to 659.91

[code]

[2018-08-07 02:06] bhrott commented on #7
Hi!

I'm using this sample and I can't reproduce these errors:
[code]

This is my screen after add a lot of digits:
![image](https://user-images.githubusercontent.com/3187772/43750102-2ec26db4-99cd-11e8-8db4-b2fa918cf2c2.png)

And this is the console output:
[code]

Can you add more information? (SO, Flutter version, code sample, etc)

[2018-08-07 12:54] codegrue commented on #7
It has something to do with the TextField `onChange` and TextFormField `onSave` methods. The "value" returned from these is formatted incorrectly. In my preference, the value returned from these should be the controller's `numberValue` not the literal string (i.e. no thousanths indicators).

I was playing with just the pure MaskedTextController and it has a similar issue, the returned value is can

[2018-08-08 20:40] codegrue opened #8 "Is there a way to get an unmasked value"
For example -

mask: (000) 000-0000
value: (123) 456-7890

unmaskedValue: 123456789

??

[2018-08-09 00:40] codegrue commented on #8
Not sure if the best way but this code will strip off the mask:

[code]

[2018-08-16 19:43] codegrue opened #10 "Add support for Dart greater than 2.0.0"
You restrict it currently to only <=2.0.0. Dart 2.1.0 was released today on the master branch.

Suggestion:

environment:
  sdk: ">=1.23.0 <3.0.0"

[2018-08-17 02:55] bhrott commented on #10
Done in `0.6.0`.
Thanks =)

[2018-08-17 02:55] #10 closed

[2018-08-19 04:09] calebeoliveira commented on #8
"one liner" solution:
[code]

warning: this `replaceAll` approach _may_ fail in complex cases.

[2018-08-21 01:36] wheel1992 opened #11 "IP Address"
Hi, I would like to masked IP Address in TextFormField. The following code is partially written and does not work. Please advice.

[code]

For each value, the number should be between 0-255.

[2018-08-21 02:07] bhrott commented on #11
Hi,

This will not work.
Thinking in this case: If the user puts `1 2` the mask should be `1.2` or `12.`?
This is a custom mask intelligence that is not possible with any custom masks.

For now, I will add a label for improvement. It's a good idea to have some specific masks. It's in the roadmap.

Thanks for report and sorry for not solve you issue =/

[2018-08-21 02:15] wheel1992 commented on #11
@benhurott Thank you so much for your reply!

[2018-08-25 14:33] victoraugustolls opened #12 "Update Mask moves cursor"
I have a listener into a `MaskedTextController` where I update the mask based on the number of characters.

Something like this:

[code]

The problem is, when updating the mask, the text field cursor goes to the text field start. Is this the expected behaviour? If so, are there any workarounds?

Thanks in advance!

[2018-08-27 15:14] bhrott commented on #12
Hi @victoraugustolls,

Yes, this is the expected behaviour but I will add an option to disable this.
Thanks for reporting.

[2018-08-27 17:48] victoraugustolls commented on #12
@benhurott thanks a lot!

[2018-10-25 16:15] dwolfhub opened #13 "Pressing checkmark on keyboard clears the value of the field"
[code]

The checkmark button on the keyboard should just remove the cursor from the field and hide the keyboard. Not sure why it's clearing the value from the input. Note: happens with other keyboardTypes as well.

On flutter beta channel, flutter_masked_text 0.6.0

[2018-11-02 19:35] alvarolordelo opened #14 "Is there any CPF and CNPJ validator?"
I'd like to have the CPF and CNPJ validator working on that package if it's possible, thanks!

[2018-11-02 21:18] bhrott commented on #14
Hi @alvarolordelo !

This package is only for masked values.
Custom validators for specific business rules are no longer part of the roadmap.

But this is a good idea for an external package! =)

[2018-11-02 21:18] #14 closed

[2018-11-02 21:23] alvarolordelo commented on #14
Masks but don't validate?
It's a one time implementation

On Fri, Nov 2, 2018, 18:20 Ben-hur Santos Ott <notifications@github.com>
wrote:

[2018-11-05 16:26] bhrott commented on #14
Yes man, I understand.
But think: CPF and CNPJ are Brazilian rules and the purpose of this project is only to mask the input, not apply specific rules.
You can always create a custom package for it (that's one time implementation, like you said). You can create gists or (better) a external package.

[2018-11-11 15:33] marcglasberg opened #16 "O cursor vai pra posição 0 assim que uma tecla é digitada."
No setter do text, faça isso:

      @override
      set text(String newText) {
      if (super.text != newText) {
      value = value.copyWith(
          text: newText,
          selection: TextSelection.collapsed(offset: (newText ?? '').length),
          composing: TextRange.empty);
        }
      }

Isso resolverá um bug que ocorre quando as vezes o cursor vai pra posição 0 assim que uma tecl

[2018-11-12 03:30] bhrott commented on #16
Hi,

Can you add the information about SO (Android or iOS) and Flutter Version?
If possible, can you send a code sample?

Because I can't reproduce this (I tested in iOS and Android simulator).

[2018-11-12 03:39] bhrott commented on #13
Hi!

Sorry, I can't reproduce this issue. Probably was fixed in flutter.

I created a video trying to reproduce and ask for more information:

https://screencast-o-matic.com/watch/cFXleBrcKu

[2018-11-12 14:17] marcglasberg commented on #16
Flutter v0.9.4. It works in my simulator too. You can reproduce it only in the real phone (Galaxy S7 in my case). I have no idea why.

[2018-11-13 18:24] dwolfhub commented on #13
Yep- I can no longer replicate after updating flutter to newest beta.

Thanks!

[2019-01-02 21:16] GianfrancoMS commented on #12
Any updates on this issue?

[2019-01-07 00:32] bhrott commented on #12
Hi guys!

Sorry for the time, I was in another galaxy.

I tried with this code and it's working fine.

[code]

This is the result: https://screencast-o-matic.com/watch/cqVicw3n9y

Can you add more info about the device, SO, flutter version, etc?

[2019-02-03 00:02] erickriva commented on #13
This bug is happening with me.
Flutter version: 1.1.9 dev
Dart version: 2.1.1

flutter_masked_text version: 0.7.0

[2019-02-08 00:42] mwalkerwells commented on #12
Happens to me too & this is my workaround (below), although, it seems like it's a broader problem (https://github.com/flutter/flutter/issues/11416).

[code]

[2019-02-09 08:38] fadhly-permata opened #19 "Change decimal length"
Hi,

First, I want to say thanks for making this extension.

AFAIK, your `MoneyMaskedTextController` only supports 2 digits decimal length. Is there any way to change the fraction digits length?

for example:
`1,234,567.789` or `1,234,567.7890` or `1,234,567.78901` or even without decimals like `1,234,567`

Thank you,

---
P.S: Sorry for my bad English

[2019-02-09 08:56] fadhly-permata commented on #19
After doing a small investigation, I found the solution on line 200 (on version 0.7.0) :

`
String textRepresentation =
        value.toStringAsFixed(2).replaceAll('.', this.decimalSeparator);
`

IDK if adding the decimal length feature will take a big efforts or not. But, may you add this value into constructor so I can change the decimal length programatically.

[2019-02-09 17:04] fadhly-permata commented on #19
Maybe my package can help you with this feature:

[flutter_money_formatter](https://pub.dartlang.org/packages/flutter_money_formatter)

[2019-02-18 20:58] fadhly-permata commented on #19
Because there is no response, I will close this discussion. And I thought of making my own components that could meet my needs.

thank you

[2019-02-18 20:58] #19 closed

[2019-02-19 23:22] lucasfacchini commented on #13
Also happening to me.
The text field is cleared after dismissing the keyboard.
Tested with the same code @dwolfhub wrote.

[code]
EDIT:
I figured out why this was happening, the controller instance must be stored in a variable.
The code below simulates the problem.
[code]
The workaround is to store the controller instance:
[code]

[2019-02-23 02:02] ElZombieIsra opened #20 "updateText crashes when text is Null"
The function updateText crashes when a null variable is taken as text parameter.

[2019-02-25 00:29] bhrott commented on #19
Hi bro!

Sorry for the late response, it required a little refactoring because I coded that part in a bad way =/.

But I released a version `0.8.0` with your requirements.
If you can, please, test and give some feedback =).

Here is the [DOCS](https://github.com/benhurott/flutter-masked-text#defining-decimal-places-v080)!

See you o/

[2019-02-25 00:29] bhrott commented on #20
Merged in `0.8.0`! Thanks brow o/

[2019-02-25 00:29] #20 closed

[2019-02-26 08:47] orswen opened #23 "Negative symbol get removed in MoneyMaskedTextController"
The '-' symbol is not showing up in the TextField when the value is negative. Is this intended?

For example:
value: `-1234.00`
TextField render: `1234.00`

[2019-02-26 11:38] bhrott commented on #23
Hi man!

Yes, I will keep this issue opened to add this behaviour.
Thanks for reporting o/

[2019-02-27 14:03] Katekko commented on #16
still happening
I'm using that mask
`var _numCardController = MaskedTextController(mask: '0000 0000 0000 0000');`

[2019-03-15 11:59] jorgevvr commented on #16
This happens to me too, when the mask character is inserted the cursor back to the initial position, example:
123- when the "-" is inserted the cursor backs to the initial position, the "-" is defined in the mask. Hope you can find a fix for that.

[2019-04-01 23:42] cbfischer commented on #16
I have the same problem. This issue can be reproduce in a real device.

[2019-04-04 15:08] AlexanderArendar commented on #16
Hi benhurott,

I used the `MaskedTextController` in my custom form field and noticed the same issue.
Each time when the mask character is encountered the visible cursor position resets. Then user continues typing then it appends the characters at a proper positions though.
For example, consider my case where the format is a US phone number `(000) 000-0000`. In this case the first symbol is a mask

[2019-04-04 16:04] PauloKeller commented on #16
1+ More
Iphone 8 iOS 12
The same issue, cursor back's to start position when start to typing.

flutter_masked_text: 0.8.0
[✓] Flutter (Channel stable, v1.0.0, on Mac OS X 10.14.3 18D109, locale pt-BR)
[!] Android toolchain - develop for Android devices (Android SDK 28.0.3)
    ✗ Android license status unknown.
[✓] iOS toolchain - develop for iOS devices (Xcode 10.2)
[✓] Android Studio (version 3.3

[2019-04-09 11:12] Smagold opened #26 "Email formatter"
Great job on this library!

Would love to see e-mail formatter as well.

[2019-04-09 12:32] bhrott commented on #26
Thanks bro,

But if you want an `e-mail validator`, will be better to use a regex instead a mask.

[2019-04-09 12:32] #26 closed

[2019-04-12 13:28] emersonsiega commented on #8
Will be very good if there's a `rawText` method in the future.

[2019-04-12 18:19] lawonga commented on #12
Not working for me, seems like there is system code changing the old `selection.extentOffset` behind our backs!

[2019-04-16 17:03] Katekko commented on #16
@AlexanderArendar  Exactly!!! Hope that can be fixed soon

[2019-04-16 19:06] bhrott commented on #16
Guys I will try to fix this issue as soon as possible, but I need to test in some other devices.
For now, all the simulators work fine and I have only one android device that I can't reproduce.

[2019-04-16 19:31] gosoares commented on #16
I have the same issue.

Device: Galaxy S9+
flutter_masked_text: 0.8.0

[✓] Flutter (Channel stable, v1.2.1, on Linux, locale en_US.UTF-8)
[✓] Android toolchain - develop for Android devices (Android SDK version 28.0.3)
[✓] Android Studio (version 3.3)
[✓] IntelliJ IDEA Ultimate Edition (version 2019.1)
[✓] Connected device (1 available)

[2019-04-23 14:41] rfschubert opened #27 "Is possible to use 2 masks?"
I want to use CPF/CNPJ mask.

So if user input `123.456.789-10` will mask as `CPF` and if it continues to input, will change to `CNPJ` mask... there is a way?

[2019-04-23 19:05] bhrott commented on #27
Hey man!

Docs: https://github.com/benhurott/flutter-masked-text#change-the-mask-in-runtime

[2019-04-23 19:05] #27 closed

[2019-05-06 19:10] roland-jungwirth commented on #13
@benhurott, thanks for making this! Ok, I can reproduce this on iPhone 5 and Android simulated and on my Samsung s10. I've stripped all my logic out of the code and still the issue happens. Should you need more information, please feel free to check in.

[2019-05-07 21:59] roland-jungwirth opened #28 "Number is reset to initial value on pressing the "Done" button"
Similarly to the closed issue, I am having a problem when clicking on the "Done" button. The displayed value is reset to the initial value (0.00 in most cases) when using the MoneyMaskedTextController. I can reproduce this on iPhone 5 and Android simulated and on a Samsung s10. I've stripped all my logic out of the code and still the issue happens. Should you need more information, please feel fre

[2019-05-09 12:53] lsaudon commented on #12
I have same error.
When the point is added the cursor back to the beginning and returns to the end.

[code]
flutter doctor
[code]
Device is emulator Pixel 2 or Nexus 5

[2019-05-14 14:58] andredealmei opened #30 "RangeError"
flutter_masked_text: ^0.8.0
If you long press to select a number masked input and then try to key got this error

RangeError: Invalid value: Not in range 0..1, inclusive: -1

![Screenshot_20190514-115440](https://user-images.githubusercontent.com/33403972/57708254-6588eb80-763f-11e9-9e8c-9df07c21b19f.png)

![screen-11 58 03 14 05 2019](https://user-images.githubusercontent.com/33403972/57708351-8c

[2019-05-14 15:20] andredealmei commented on #30
Update: You can dodge the error defining **enableInteractiveSelection: false** on **textField**

[2019-05-14 22:05] bhrott commented on #30
HI @andredealmei , could you provide a code sample?

[2019-05-19 17:27] jogboms opened #31 "Using default placeholder text"
At times, you just want to see the default placeholder's text by setting initialValue to null, this blows up currently.

[2019-06-11 19:13] emersonsiega opened #33 "Flutter for web support"
Hello

I'm using flutter_masked_text in my app and now I need to create a web version of some views and would be very nice if this package support Flutter Web :)

Are you thinking in add support for Flutter Web soon? This is in your plans?
Thanks!

[2019-07-09 17:45] langaro opened #34 "String padding"
Hello, let's suppose I have a mask **000.000-00** and the user types **1234**. Is there a way to automatically show **000.012-34** in the field? I would need it to update as the user types.

[2019-07-15 17:05] soonsam123 commented on #28
Storing the `Controller` in a global variable worked for me.

[code]

Got the idea from issue #13

[2019-07-18 17:01] rockerbacon commented on #28
Storing the controller in a variable did not work for me

EDIT: What did work was making the Widget stateful instead of stateless

[2019-07-18 17:09] rockerbacon commented on #16
For me the problem is present when the TextFormField is build inside a StatelessWidget but not present when it's build inside a State

[2019-07-21 22:17] bhrott commented on #34
Hi @langaro !

What you need for it is practically a `right to left` feature.
For now, it's not supported. I will mark this as an enhancement.

[2019-07-21 22:18] bhrott commented on #33
Hi @emersonsiega !
Thanks for the request.
Once I have time, yes, but I need to check how flutter web works (I didn't check it yet).

[2019-07-22 11:16] langaro commented on #34
Hi @benhurott
OK. I guess I can give ir a try whenever I can.

Thanks for the answer.

[2019-07-31 01:27] andredealmei commented on #16
Same issue here.

On emulador or real xiaomi mi 8 , moto c plus and Galaxy j1

[2019-07-31 12:50] Katekko opened #35 "Necessário retornar o valor sem máscara no validator"
Acho que seria necessário retornar o valor sem mascara no (val) para que consiga validar corretamente!

![image](https://user-images.githubusercontent.com/13632735/62213103-90e6c100-b378-11e9-8c0d-dfa9d9f1a83f.png)

[2019-08-03 14:21] bhrott commented on #35
Hi, you can get the `numberValue` of the controller:

https://github.com/benhurott/flutter-masked-text#get-double-value

[2019-08-03 14:21] #35 closed

[2019-08-03 14:22] bhrott commented on #30
Closing due inactivity.
If the issue persists, let me know but please provide a code sample. =)

[2019-08-03 14:22] #30 closed

[2019-08-03 14:25] Katekko commented on #35
Isso eu sei, mas não sei se seria certo utilizar o valor do controller ao invés de pegar o retorno da função no validator... O fluxo deveria seguir o da função e retornar o valor sem mascara para validar. Pelo menos eu acho

[2019-08-07 09:02] flenair commented on #16
Same issue on Galaxy A5
version flutter_masked_text: 0.8.0

[✓] Flutter (Channel stable, v1.7.8+hotfix.4, on Mac OS X 10.14.5 18F132, locale fr-FR)
[✓] Android toolchain - develop for Android devices (Android SDK version 28.0.3)
[✓] Xcode - develop for iOS and macOS (Xcode 10.3)
[✓] iOS tools - develop for iOS devices
[✓] Android Studio (version 3.3)
[✓] IntelliJ IDEA Ultimate Edition (version 201

[2019-08-12 14:47] DoisLucas commented on #16
I have the same issue.

Device: Galaxy S6
flutter_masked_text: 0.8.0

[√] Flutter (Channel stable, v1.7.8+hotfix.3, on Microsoft Windows [versÃ£o 10.0.17134.829], locale pt-BR)
[√] Android toolchain - develop for Android devices (Android SDK version 28.0.3)
[√] Android Studio (version 3.1)
[√] VS Code (version 1.35.1)
[√] Proxy Configuration
[√] Connected device (1 available)

[2019-08-13 07:31] menyaacat opened #36 "Is possible to hide decimal text?"
I jus want to convert 20000 to 20.000 not 20.000,00. Thank you 🙏

[2019-08-16 23:54] ryankauk opened #37 "Remove mask when deleting"
Just started using this library and so far so good. The only thing I noticed is when typing the mask gets inserted automatically, I would infer that when deleting it would automatically remove the mask as well. Right now when deleting, you have to manually delete the mask one by one.

[2019-08-19 12:26] bhrott commented on #37
Hi @ryankauk could you provide a scenario, a code sample and maybe some prints to let me check the problem?

[2019-08-22 13:02] gilvangobbato opened #38 "RangeError: Invalid value: Not in range 0..1, inclusive: -1"
Hello,

I'm getting this error in my MoneyMaskedTextController with precision: 2.

![Screenshot_2019-08-22-09-40-45-03](https://user-images.githubusercontent.com/10728425/63515422-377a3980-c4c1-11e9-82fd-636eebbe818f.png)

The error occurs when I go out of the TextField with less than 2 digits, for example: my mask is from Brazilian real R$ 0,00, if I type only 5 cents and go out of the TextFiel,

[2019-08-27 10:40] petrc commented on #16
Same issue on Android 9 emulator (API 28)

[2019-08-28 16:09] rmotafacundo commented on #8
How Get unmasked text?

[2019-08-31 23:53] mohisham commented on #13
Putting the controller in a variable (global or local) doesn't fix this for me.  Here's what I'm using:

[code]

[2019-09-01 03:49] mohisham commented on #13
In case this helps anyone, I fixed this in the following way:

[code]

[2019-09-02 19:53] valterh4ck3r commented on #16
Same issue on Galaxy S8.

[2019-09-02 23:54] valterh4ck3r commented on #16
### FIX

Hello Sirs, i update the flutter to

On channel stable.

[2019-09-09 04:19] alejamp commented on #16
How to fix this issue:

Add this new function inside MaskedTextController:

`  void setTextAndPosition(String newText, {int caretPosition}) {
    int offset = caretPosition != null ? caretPosition : newText.length;
    value = value.copyWith(
        text: newText,
        selection: TextSelection.collapsed(offset: offset),
        composing: TextRange.empty);
  }
`

Then change text setter to thi

[2019-09-16 12:25] hassanbht opened #39 "Invalid double in numberValue when delete value in TextFormField"
Hello,
I'm getting this error in my MoneyMaskedTextController when clear  TextFormField
error : Type (FormatException) "Invalid double"

double get numberValue {
    List<String> parts = _getOnlyNumbers(this.text).split('').toList(growable: true);
    parts.insert(parts.length - precision, '.'); // value : "."
    return double.parse(parts.join());
  }

[2019-09-17 17:30] Adejair commented on #36
@menyaacat could you do? how did you do it?

[2019-09-18 13:22] cmregazzo opened #40 "DefaultTabController problem flutter_masked_text"
Good Morning,
I am using flutter masked text inside a DefaultTab Controller, after switching between Tabs three or four times, the following error is generated:

The following assertion was thrown building Container:
A MaskedTextController was used after being disposed.

Is there anything I'm doing wrong?

Version: flutter_masked_text: ^0.8.0

Follow the Flutter Doctor:

C:\src\flutter\bin\flutter

[2019-09-18 15:01] fbachi opened #41 "[BUGFIX] Editing a character in the middle of the text (possible solution)."
I was going through a problem when editing a value in a masked input. For example, if the user typed his phone "(54) 99999-9999" and wanted to change it to "(54) 94999-9999" the input would put the number 4 in the end of the text, like "(54) 99999-9994".

So, following the initial suggestion made by Marc in the #16 , i change the _text_ method to this:

[code]

Basically, I only put the cursor at

[2019-10-03 14:23] andredealmei commented on #23
Any news?

[2019-10-14 20:42] 128423 opened #43 "Remove mask to do a Request IDEA"
i'm start programing flutter 2 days ago, this is a cool project but if i need to remove the mask to do a request, the text is seted to ""

[code]
i try remove mask with `.updateMask("")` but this clean the field; ok : Im noob.
after the i remove the mask with  `.updateMask("00000000000000")` <- THIS WORKS BUT is not cool

[code]

maybe add a var.textNoMask will be awesome

tansk's for attention

[2019-10-18 13:51] gilvangobbato opened #44 "Warning on change value"
I'm getting this warnings on change value

[code]

This is my code

[code]

[2019-10-23 11:49] plsta commented on #23
I think that negative value is useful in so many cases.

[2019-10-23 15:59] ParsaGachkar commented on #41
thanks but this is not working correctly either. Imagine value 15,000,000.
changing it into 12,000,000 or 10,000,000 works perfectly fine. but when you try to change it into 15,500,000 you endup with value 15,000,005 :D anyway thank you.

[2019-10-29 16:36] naccio8 commented on #44
It also happens to me and nothing is put in TextField.
I also receive other error:
[code]

[2019-10-29 17:03] naccio8 commented on #44
I have found the problem, In my case I define more time the controller, In your case I think that is because you set the controller value in a stream builder.

[2019-11-03 18:55] coleweinman commented on #7
I'm having this same issue. To mean it appears that the value from the onChanged function is giving the previous value, not the new value.

[2019-11-25 05:29] adsants opened #46 "Can I without Decimals ?"
Ex : 22000
I Want just **22.000** Not 22.000,00

[2019-11-25 05:34] adsants commented on #46
i make MoneyMaskedTextController()

[2019-11-26 08:43] andyngdz commented on #8
Will we do it sir :D?

[2019-11-27 14:03] ciceropablo commented on #43
I have the same problem. @benhurott, any news or tip?

[2019-11-30 01:07] kevin-haynie commented on #7
I have the same issue.  I believe it does have something to do with the onSave method.  When my money field is in a form and I call save(), the value that I get passed to the onSaved() method is the value with the last digit appended to it.  For example, if my masked value was $0.75 and I pressed 8, I would see $.0758 passed to my onSaved() method.  I spent some time trying to figure it out but no

[2019-11-30 09:50] function1983 commented on #46
[code]

[2019-12-01 03:37] andre-bahia commented on #16
I was going through this same problem and solved it easily using InputFormatter
https://gist.github.com/andre-bahia/14fdb0c751822f848a364b3129df1fed

dependecy used:
intl: ^0.15.8

[2019-12-07 04:35] leofontes opened #47 "TextFormField value disappears when next field is tapped"
Hi

I'm attempting to use this library to mask some of my `TextFormField` fields. However, when I add the controller attribute using the `MaskedTextController`, whenever I tap on the next field or exit the field I'm editing by any way, the `TextFormField` value is cleaned.

I've checked issues #13 and #28 but neither helped me.

Dependency:
[code]

This is my code:
[code]

flutter doctor:
[code]

[2019-12-09 15:28] Bonfs commented on #47
Try declare your controller outside of build method as a propertie.
`class _SignupInfoStepState extends State<SignupInfoStep> {
  final formKey = GlobalKey<FormState>();
  final  cpfController = MaskedTextController(mask: '000.000.000-00', text: widget.form.cpf);

  @override
  Widget build(BuildContext context) {
    final theme = Theme.of(context);
    `

[2019-12-11 02:53] annagat opened #48 "Can I use this in Text()?"
Hello,

A newbie here, please help.
Can I use this in Text()? How? Please see below code where I want to use this.

` // Holds the text that user typed.
  String text = '';`

`Container(
  margin: const EdgeInsets.only(left: 86.0),
  alignment: Alignment.centerLeft,
  child: Text(
    text,
    style: TextStyle(
      fontSize: 35.0,
      letterSpacing: 20.0,
    ),
  ),
),`

I want that when use

[2020-01-09 09:57] #39 closed

[2020-01-15 00:56] x4080 commented on #39
Hi, @hassanbht

How do you solve this problem >?

[2020-01-15 02:13] x4080 commented on #38
Hi @gilvangobbato, I think the solution is to add condition :
from
[code]

to

[code]

@benhurott maybe you can update it in the widget ?

[2020-01-15 23:22] x4080 opened #49 "Hi, I proposed this change for MoneyMaskedTextController for better UX"
@flutter_masked_text.dart

[code]

Improvements :
- No more errors
- When typing from empty value it will fix automagically
- Using thousandSeparator and decimalSeparator variables

Thanks

[2020-01-16 00:40] x4080 commented on #49
And this part also

[code]

[2020-01-17 19:25] gilvangobbato commented on #38
Correct
I extended this class to update exactly this line. something like this:

[code]

[2020-01-22 21:51] git-xbits commented on #43
Same here

[2020-01-23 01:14] chitgoks opened #50 "This does not work with TextFormField"
text_form_field.dart': Failed assertion: line 123 pos 15: 'initialValue == null || controller == null': is not true.

[code]

[2020-01-23 01:16] #50 closed

[2020-01-31 01:05] fysoul17 commented on #37
Hi @benhurott.

Just simply use any masks with non-numeric value.

eg) TextField(controller: MaskedTextController(mask: "(0) 000 000 000"))

When you type digits, there are 2 issues including what @ryankauk said.
1. With typing the first digit of 0, it displays as '(0', not '(0)'
2. After typing some more digits, let's say '(0) 12', you have to manually remove brackets with the backspace button wh

[2020-02-01 08:21] phungrk commented on #39
@x4080

https://github.com/benhurott/flutter-masked-text/pull/24

[2020-02-03 03:06] flaviup opened #51 "Blocked input on Samsung devices"
The code below blocks input on Samsung phones:

final mmTextController = MoneyMaskedTextController(
    decimalSeparator: DecimalSeparator,
    thousandSeparator: ThousandSeparator,
    precision: precision,
  );
  mmTextController.afterChange = (String maskedValue, double rawValue) {
    // the line below blocks any further input on Samsung phones
    mmTextController.selection = TextSelection.co

[2020-02-04 16:24] jeaanlucas commented on #16
Any news? Samsung Tab A 10 have the problem too.

[2020-02-05 19:36] valterh4ck3r commented on #16
@jeaanlucas

Update you flutter.

[2020-02-06 03:09] ebsene commented on #7
I was having the same issue, I resolved it (with a workaround) passing controller Text property to the onChanged function, like this:

[code]

[2020-02-06 11:22] jeaanlucas commented on #16
@valterh4ck3r this is my flutter doctor -v:

[code]

[2020-02-06 16:19] valterh4ck3r commented on #16
@jeaanlucas

Run

After rebuild your app.

[2020-02-13 17:08] Giuliano-Stravini commented on #51
Hey! I have a similar problem. :(

Only in Samsung devices, when trying update the mask, keyboard freezes

I did a example.

[code]

Flutter Dotcor
[code]

[2020-02-14 15:08] lramondev commented on #43
Same

[2020-02-14 15:59] Giuliano-Stravini commented on #51
Maybe this issue have associate with this [https://github.com/flutter/flutter/issues/42273](url)

[2020-02-14 19:18] Giuliano-Stravini commented on #51
I found this [issue]( https://github.com/flutter/flutter/issues/48409) on Flutter Github.

@flaviup try change to master channel, maybe resolve your problem

[2020-02-17 13:55] louia commented on #12
Any updates on this issue?

[2020-02-17 14:18] louia commented on #16
Any updates on this issue?

[2020-02-28 13:05] gagarina4 commented on #37
Some not very smart but working solution:

my mask
`_maskedController = MaskedTextController(mask: '00/00');`

and then
[code]

[2020-03-04 04:53] erpriliano opened #53 "Problem with MoneyMaskedTextController cursor"
Hi, I've got a problem below :

![ezgif com-resize (1)](https://user-images.githubusercontent.com/49814974/75846291-7133e180-5e0e-11ea-8709-dd69466b517c.gif)

The cursor always seem to move to the start of the textfield. Is there any solution to this? Cause this happens to give user a bad experience when filling in the form.

My code that related to this :

[code]

Awaiting your response, sir

[2020-03-18 19:20] kelvinmontini commented on #16
News!? Same issue on Pixel 2 emulator (API 29)

[2020-03-19 11:39] KelseyJr commented on #50
Hey, did you solve this problem? I'm facing this problem right now.

[2020-03-19 11:42] chitgoks commented on #50
yes. you do not use both controller and initialValue at the same time

[2020-03-19 11:59] KelseyJr commented on #50
Many thanks @chitgoks

[2020-03-25 06:34] jimansohn commented on #23
Another reminder that this feature would be really nice

[2020-03-28 16:40] 9thwall opened #54 "Remove default 0 value"
Hi,
How can I remove the default 0 value for MoneyMaskedTextController form field?

[2020-04-01 14:24] WagnerMagnus1 commented on #23
I need this :(

[2020-04-02 14:36] rafaelmpessoa commented on #53
same here, anyone resolve ?

[2020-04-06 05:42] phungnc commented on #53
Try this

[code]

[2020-04-09 17:32] waister commented on #27
Sorry for reopening the issue, but I tried to use `updateMask()` inside `onChanged()`, but it didn't work. My current code:

`onChanged: (value) {
  if (value.length > 11) {
    _controllerDocument.updateMask('00.000.000/0000-00');
  } else {
    _controllerDocument.updateMask('000.000.000-00');
  }
}`

Thanks!

[2020-04-14 18:27] alanbre commented on #53
Same problem here using the MaskedTextController...

[2020-04-21 23:22] azamatdev commented on #53
The same problem. @phungnc could you clarify how to use your code. I tried to add it but could not make it

[2020-04-24 05:23] erpriliano commented on #53
@benhurott we need your help, sir

[2020-04-27 10:54] joaovirgili commented on #39
I'm getting this error when calling clear() on MoneyMaskedTextController:

The following RangeError was thrown while dispatching notifications for MoneyMaskedTextController:
Invalid value: Only valid value is 0: -2

[2020-05-08 04:25] phungnc commented on #53
@azamatdev

1. create a MoneyMaskedTextController:
[code]

2. inside your `initState`,  set the `afterChange` hook like this
[code]

3. listening for changes to the text form field

[code]

[2020-05-21 10:26] AlaaEldeenYsr commented on #54
I also need to remove it so i can show the text field hint placeholder text

[2020-06-03 14:02] marcosradix opened #55 "Get text with no mask"
It is do not possible to get the text with no mask, example:
var controller = new MaskedTextController(text: '', mask: '000-000');
controller.updateText('123456');
print(controller.text); //123-456

but if do you need the value like this ?:
 print(controller.text); //123456

[2020-06-16 12:15] rodrigorafaeldamaceno commented on #55
I solve this problem only with a regex expression

text.replaceAll(RegExp(r"[^0-9]"), '')

[2020-06-25 09:03] QkLahpita commented on #51
@Giuliano-Stravini hi, I have the same problem (on Samsung Note 8). I'm using Flutter Channel stable, v1.17.0

If I use TextFormField without MoneyMaskedTextController, it will be okay. How can MoneyMaskedTextController cause the lagging? Do you know?

Have you fixed your problem yet?

[2020-06-25 20:13] Giuliano-Stravini commented on #51
Hi @QkLahpita,

Unfortunately, not yet

[2020-07-02 09:16] MaxGer opened #56 "Long press on backspace delete whole mask"
* When you only tap backspace you can't delete the mask, you only can delete the user input until its 0 again.
(In my expample '€ 0,00')
* But when you don't tap and instead touch & hold, the TextInputField goes blank.

[2020-07-06 03:34] claudneysessa commented on #7
I have the same problem, my field receives a mask of type '000.000.000-00' but in the database I need to write only '00000000000' as I would do to obtain the unformatted value?

I tried to do it in several ways with the updatemask but it clears the string:

Example:

print (myController.text);
print (myController ("edtCpfcnpj"). mask);
myController ("edtCpfcnpj"). updateMask ('00000000000');
print

[2020-07-06 03:34] claudneysessa commented on #55
I have the same problem, my field receives a mask of type '000.000.000-00' but in the database I need to write only '00000000000' as I would do to obtain the unformatted value?

I tried to do it in several ways with the updatemask but it clears the string:

Example:

print (myController.text);
print (myController ("edtCpfcnpj"). mask);
myController ("edtCpfcnpj"). updateMask ('00000000000');
print

[2020-07-06 04:44] claudneysessa commented on #55
I did a test here but it doesn’t apply to all cases, but I believe it already serves as a base, I’ll check and see if it improves I hope it will serve as a basis for your package:

String get rawNumberValue {
    String localMask = this.mask;
    String localText = this.text;
    for (int i = 0; i < localMask.length; i++) {
      var aux = localMask.substring(i, i + 1);
      if ((localMask.substr

[2020-07-06 11:01] rodrigorafaeldamaceno commented on #55
Use regex:
   RegExp exp = RegExp(r"[^0-9]");
    return text.replaceAll(exp, '');

[2020-07-06 12:10] claudneysessa commented on #55
You have to remember that it’s not just a number, the return may be letters and characters ....

[2020-07-14 20:55] machadoguilhermebr commented on #51
This issue has been resolved?

[2020-07-15 19:39] 123dma commented on #54
Me too

[2020-07-29 23:04] zeucxb commented on #51
Same problem here. Any updates?

[2020-08-03 11:14] Miko2x commented on #38
Replace to this

[code]

[2020-08-04 13:43] edufolly commented on #33
Works great in web. I'm using it.

[2020-08-20 19:32] rodrigorafaeldamaceno commented on #51
same problem, delay in samsung devices.

[2020-08-24 12:47] cassioseffrin opened #57 "RangeError was thrown while dispatching notifications for MoneyMaskedTextController"
I am getting this exception when the controller is

    _quantidadeController = MoneyMaskedTextController(
        decimalSeparator: ',',
        thousandSeparator: '.',
        precision: 3,
        initialValue: 1);
══╡ EXCEPTION CAUGHT BY FOUNDATION LIBRARY ╞════════════════════════════════════════════════════════
The following RangeError was thrown while dispatching notifications for MoneyMask

[2020-08-25 08:32] Frezyx opened #58 "Is it possible to make part of the mask immutable ?"
Hello :wave:, thank you for this package! :blush:
I try to create phone field.
And when user start writing form adding +7 (Russian International phone code).
I need to make +7 an immutable part. How can I do this ?
![image 9 (1)](https://user-images.githubusercontent.com/40857927/91151204-0c26bd80-e6c6-11ea-95bf-b2c573f21ca4.jpg)

[2020-08-26 04:55] hikmawanaz commented on #53
I have tried this solution, it's work but not perfectly. In iOS devices, this solution make backspace(delete) not working.

[2020-08-26 04:55] hikmawanaz commented on #53
Any solution for this issue?

[2020-09-04 16:14] vcnt1 commented on #51
same here, delay input in samsung devices's keyboard

[2020-09-15 09:12] deepak786 commented on #27
The value inside the onChanged contains the . - and / as well.
So you need to check
`onChanged: (value) { if (value.length > 14) { _controllerDocument.updateMask('00.000.000/0000-00'); } else { _controllerDocument.updateMask('000.000.000-00'); } }`

[2020-09-15 12:26] waister commented on #27
No, the value inside onChanged comes only from the numbers, the problem is in the updateMask, which cancels the last number entered after changing the mask.

[2020-09-16 07:41] deepak786 commented on #27
@waister try the below code

      // initialize your _controllerDocument with cpf fromat
      _controllerDocument = MaskedTextController(mask: '000.000.000-00');

      // add before change listener
      _controllerDocument.beforeChange = (String previous, String next) {
        if (next.length > 14) {
          // change to CNPJ format
          if(_controllerDocument.mask != '00.000.000/0000-

[2020-09-25 01:52] denyjav commented on #39
Were you able to solve this problem?

[2020-09-25 02:06] denyjav commented on #57
Did you manage to solve?

[2020-09-26 23:54] denyjav commented on #57
Eu resolvi.

O erro acima  parou de ser lançado ao mudar o código fonte do widget. O método numberValue estava assim:

double get numberValue {
List<String> parts = _getOnlyNumbers(this.text).split('').toList(growable: true);

parts.insert(parts.length - precision, '.');

return double.parse(parts.join());
}

e alterei de forma que ficasse assim:

double get numberValue => double.parse(_getSanitiz

[2020-09-28 12:09] cassioseffrin commented on #57
The error was been caused when I have changed the text of MoneyMaskedTextController to  blank text.
_precoController.text = '';

 I switch to:
_precoController.updateValue(0);

The error have disappeared. The downside is when I update the value "updateValue(0)"  I get the mask 0,00 on the instead of blank TextField. I don't found a way to clean/reset the TextFiled with (X) suffix icon to reset my

[2020-09-30 21:17] lampemw commented on #57
Following this as well, would really like a way to be able to call textController.clear() without getting this error while using the MoneyMaskedTextController.

[2020-10-16 15:43] rubgithub opened #59 "onChanged wrong value"
`onChanged` wrong value

typed: 0
typed: 1
[code]

![image](https://user-images.githubusercontent.com/3399476/96278410-77449000-0fa3-11eb-820e-be02fa204223.png)

[2020-10-16 15:44] rubgithub opened #60 "onChanged wrong value"
`onChanged` wrong value

input: 0
input: 1
[code]

![image](https://user-images.githubusercontent.com/3399476/96278410-77449000-0fa3-11eb-820e-be02fa204223.png)

[2020-10-16 15:44] #59 closed

[2020-10-16 18:26] rubgithub commented on #60
I'm consufesed, don't know if its part of `flutter_masked_text`  or this package.

[2020-10-16 18:26] #60 closed

[2020-11-10 04:35] jagadish-pattanaik opened #61 "Problem with cursor"
**When I type anything the cursor moves to beggining of the text filed after some time which doesn't happens when I use texteditingcontroller. It only happens with maskedcontroller.** Please fix this issue as soon as possible it's very irritating.
Flutter gives an error:- “**Text selection index was clamped (-1->0) to remain in bounds this may not be your fault as some key boards.......**". Please

[2020-11-12 14:28] GuiHS01 opened #62 "MoneyMask force 0,000 (three 0 on decimal)"
![image](https://user-images.githubusercontent.com/39705535/98951241-c2858c00-24d8-11eb-8194-4653485635df.png)

I will follow the order of the print numbering.

1. MoneyMaskTextController declaration, in BRL format without "R$".
2. What I typed in the Field
3. What is printing on onChange
4. Result of conversion from BRL to Double (to make an operation in the API)

[2020-11-12 14:53] guihsdev commented on #62
For more examples:
![image](https://user-images.githubusercontent.com/39705535/98954774-e8ad2b00-24dc-11eb-863a-84c6a25a1e4c.png)
![image](https://user-images.githubusercontent.com/39705535/98954879-09758080-24dd-11eb-99f3-f9d70811ddab.png)
After I hit 0 once
![image](https://user-images.githubusercontent.com/39705535/98954921-16926f80-24dd-11eb-9e27-fd96709d00d9.png)

Nothing changes visually, bu

[2020-11-12 22:42] robertoltrocha commented on #23
Hi,
me too.

[2020-12-03 17:45] WallysonRodrigues commented on #62
To solve it in my case, I decided to use the controller.text instead of the value returned by the onChanged method.

[code]

[2020-12-24 10:58] rumarka commented on #53
[code]

[2021-01-02 18:24] leszekkrol commented on #53
Anu update? I have the same issue

[2021-01-02 18:25] leszekkrol commented on #61
I got the same issue, please fix this ASAP

[2021-01-20 14:09] GustavoFigueira commented on #54
Yeah, I will try to change this and make a pull request.

[2021-01-26 16:41] deepak786 opened #63 "optional character translator"
Currently, the library has the following translators.

[code]

It would be great to have a translator for optional things. like:

[code]

For e.g:

if the mask is ```'11-1'``` then it can accept the following inputs:
[code]

I already tried to use the translator but it is not working:
[code]

[2021-01-26 19:38] JulioCRFilho opened #64 "update mask blocking backspace on iOS"
Hi guys, as the title says, I'm not being able to delete any character in the input field.

Here's the code:
`doc.addListener(() {
     doc.updateMask(
          doc.text.length >= 15 ? '00.000.000/0000-00' : '000.000.000-000');
 });`

This problem only occurs on iOS simulator, I hadn't the chance to test it on a device yet. I even tried it on different versions of iOS simulator but nothing change

[2021-02-17 16:20] romreed commented on #53
2021 year but this bug still work. any updates?

[2021-02-20 23:51] hikmawanaz commented on #53
use another library is only the one solution

[2021-03-02 11:27] TomasWeg opened #65 "[Feature Request] Negative values in MoneyMaskedTextController"
It would be nice to add a property to the MoneyMaskedTextController which enables or disables the ability to input negative numbers

[2021-03-04 16:42] wiradikusuma opened #66 "Null safety?"
Now that Flutter 2 is out, can we please migrate to null-safe?

[2021-03-07 23:10] isorensen commented on #66
Plus one for me!

Thanks for the awesome package.

Migrating this package to null-safety would help a lot. :)

Here's an official guide from dart doc
https://dart.dev/null-safety/migration-guide

[2021-03-08 16:54] vitorhm commented on #66
Unfortunately I think this package is no longer supported:

[2021-03-08 17:19] LeandroNovak commented on #66
Guys, as this package is no longer being updated, so I'm working on a replacement: https://pub.dev/packages/extended_masked_text

I am addressing some of the issues reported in this one and all help is welcome

[2021-03-08 17:30] vitorhm commented on #66
@LeandroNovak I just forked this repo and finished migrating to null-safe, so instead I'll be using your package, thank you

[2021-03-11 16:04] JulioCRFilho commented on #64
Any thoughts on this?

[2021-03-15 07:03] WiRight commented on #66
@LeandroNovak Thank you, for your package!

[2021-03-28 13:10] thiagocordeiro opened #69 "Empty field triggers errors on MoneyMaskedTextController"
When the user selects the text and deletes it, flutter triggers the following error:

[code]

[2021-04-24 23:59] gabrieloliveirabrito commented on #23
Only solution is create a two radio buttons, that define value is negative or positive

[2021-05-22 04:25] drikdrick commented on #46
Hi, can anyone tell me why precision doesn't work for me?

![issueGit](https://user-images.githubusercontent.com/50852907/119214339-4192f700-baf0-11eb-8049-d396287da416.PNG)

And also if I use decimalSeparator: "", the text didn't mask at all.

[2021-05-22 04:26] drikdrick opened #71 "precision doesnt works"
Hi, can anyone tell me why precision doesn't work for me?

![issueGit](https://user-images.githubusercontent.com/50852907/119214339-4192f700-baf0-11eb-8049-d396287da416.PNG)

And also if I use decimalSeparator: "", the text didn't mask at all.

[2021-06-10 05:48] ahmedjaafar6 commented on #47
Thank you! I had mine declared inside the build method, once I put it above the build method it worked.

[2021-06-10 18:52] henriquezanfa commented on #64
Same thing is happening here when using beforeChange (just like the documentation).

It works fine on Android devices but on iOS I can't delete anything.

[code]

[2021-07-14 20:35] mobilemindtec opened #73 "moveCursorToEnd doesn't work anymore"
Hi,

I'm update android version from my project, to minSdk 20 and targetSdk 30. Apparently after this change the cursor no longer stops at the end of the text, but at the position of the mask. To fix it, I added the following code (`Future.delayed`)  to the plugin. It worked, but I don't know if it's the best thing to do:

[code]
Thanks!

[2021-08-08 19:38] jobypthomas commented on #66
@LeandroNovak Thank you. Waiting for your package.

[2021-09-09 14:21] clerdson commented on #27
with easy_mask simple

[2021-09-09 14:22] clerdson commented on #27
Container(
              padding: EdgeInsets.symmetric(horizontal: 60),
              child: TextField(
                decoration: InputDecoration(hintText: 'Multi Mask CPF/CNPJ'),
                inputFormatters: [
                  TextInputMask(
                      mask: ['999.999.999-99', '99.999.999/9999-99'],
                      reverse: false)
                ],
              ),

[2021-09-09 14:22] clerdson commented on #27
lock exemples

[2021-09-20 15:46] insinfo commented on #11
any solution for ip address mask

[2022-01-24 03:07] tsctrl commented on #11
any update? is now 2022

[2022-02-17 18:17] SrahS commented on #27
foda

[2022-04-01 17:13] derekantrican commented on #65
Need this. Would love to use this package, but this is a necessary feature for me

[2022-05-03 14:25] victorruandev commented on #27
THANK YOU!!!

[2022-06-11 18:51] loopchaves commented on #66
Valeu, meu brother!

[2022-11-29 10:28] alefealvessilva commented on #27
@clerdson thankss!!!